@model SMCC.Models.Cours
@{
    ViewBag.Title = "ADD Course";
    Layout = "~/Views/MainLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Course</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/AdminDashBoard/Home">Home</a></li>
                    <li class="breadcrumb-item active">Add Course</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary" >
            <div class="card-header">
                <h3 class="card-title">معلومات الكورس الاساسية</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("ADD_Course", "Course", FormMethod.Post))
            {
                <div class="card-body" dir="rtl">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseName, "اسم الكورس",new { @style="float:right"})
                        @Html.ValidationMessageFor(model => model.CourseName, null, new { @style = "color:red" })

                        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })


                    </div>
                    <!-- select -->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-4" style=" padding: revert">
                                @Html.LabelFor(model => model.NumberOFhours, "عدد ساعات الكورس", new { @style = "float:right;" })

                                
                                @Html.EditorFor(model => model.NumberOFhours, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(model => model.NumberOFhours, null, new { @style = "color:red" })


                            </div>
                            <div class="col-8">
                                @Html.LabelFor(model => model.NumberOFlectures, "عدد محاضرات الكورس")

                               
                                @Html.EditorFor(model => model.NumberOFlectures, new { @class = "form-control" })
                                <br />
                                @Html.ValidationMessageFor(model => model.NumberOFlectures, null, new { @style = "color:red" })


                            </div>
                        </div>
                    </div>



                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                if (ViewBag.Message != null)
                {
                    <script type="text/javascript">

                                           window.onload = function () {
                                              alert("@ViewBag.Message");
                                           };
                    </script>
                }
            }


        </div>
    </div>
</div>

