<div>
    @model SMCC.Models.CourseAppointment
    @{
        ViewBag.Title = "Schedule Course";
        Layout = "~/Views/MainLayout.cshtml";
    }


    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Schedule Course</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/AdminDashBoard/Home">Home</a></li>
                        <li class="breadcrumb-item active">Schedule Course</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="float:right">اضافة موعد جديد لكورس</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("ScheduleCourse", "Course", FormMethod.Post))
                {
                    <div class="card-body" dir="rtl">
                        <!-- select -->
                        <div class="form-group">

                            @Html.LabelFor(model => model.courseID, "اسم الكورس", new { @style = "float:right" })
                            @Html.ValidationMessageFor(model => model.courseID, null, new { @style = "color:red" })
                            <br />
                            @Html.DropDownListFor(model => model.courseID, (SelectList)ViewBag.courseName, "", new { @class = "form-control" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.classID, "اسم القاعة", new { @style = "float:right" })
                            @Html.ValidationMessageFor(model => model.classID, null, new { @style = "color:red" })
                            <br />
                            @Html.DropDownListFor(model => model.classID, (SelectList)ViewBag.className, "", new { @class = "form-control" })

                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.teacherID, "اسم المدرس", new { @style = "float:right" })
                            @Html.ValidationMessageFor(model => model.teacherID, null, new { @style = "color:red" })
                            <br />
                            @Html.DropDownListFor(model => model.teacherID, (SelectList)ViewBag.TeacherName, "", new { @class = "form-control" })

                        </div>
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">

                                    @Html.LabelFor(model => model.startDate, "تاريخ بداية الكورس")
                                    @Html.EditorFor(model => model.startDate, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.startDate, null, new { @style = "color:red" })


                                </div>
                                <div class="col-5">
                                    @Html.LabelFor(model => model.endDate, "تاريخ نهاية الكورس")
                                    @Html.EditorFor(model => model.endDate, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.endDate, null, new { @style = "color:red" })
                                    @if (ViewBag.Message != null)
                                    {
                                        <script type="text/javascript">

                                           window.onload = function () {
                                              alert("@ViewBag.Message");
                                           };
                                        </script>
                                    }

                                </div>
                            </div>
                        </div>



                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.day1, "اختر اليوم الاول", new { @style = "float:right" })
                            @Html.ValidationMessageFor(model => model.day1, null, new { @style = "color:red" })
                            @Html.DropDownListFor(model => model.day1, new SelectList(ViewBag.selectDay), "Select Day", new { @class = "form-control" })


                            <br />

                            <div class="content" style="background-color: white;border-radius: 3px;

        transition: .5s ease-in;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
">
                                <div class="header" style=" height: 35px; background: #27ae60; border-radius: 3px 3px 0 0; box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);">
                                    <h2 style=" color: white; text-align: center; font-weight: normal; font-size: 24px;">اضافة ايام زيادة للكورس (اختيارى)</h2>

                                </div>
                                <br />
                                <div class="msafa2" style="display:inline;padding-left:10px">

                                    @Html.LabelFor(model => model.day3, "اختر اليوم الثالث")
                                    @Html.DropDownListFor(model => model.day3, new SelectList(ViewBag.selectDay), "")
                                </div>
                          



                                <div class="msafa" style="padding-right: 10px;
        float: right;
    ">

                                    @Html.LabelFor(model => model.day2, "اختر اليوم الثانى")
                                    @Html.DropDownListFor(model => model.day2, new SelectList(ViewBag.selectDay), "")

                                </div>

                            </div>



                        </div>
                        <br />

                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">

                                    @Html.LabelFor(model => model.startTime, "موعد البداية")
                                    @Html.EditorFor(model => model.startTime, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.startTime, null, new { @style = "color:red" })


                                </div>
                                <div class="col-5">
                                    @Html.LabelFor(model => model.endTime, "موعد النهاية")
                                    @Html.EditorFor(model => model.endTime, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.endTime, null, new { @style = "color:red" })


                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-2">
                                @Html.LabelFor(model => model.price, "السعر ", new { @style = "float:right" })
                                <br />
                                @Html.EditorFor(model => model.price)
                     
                                @Html.ValidationMessageFor(model => model.price, null, new { @style = "color:red" })
                            </div>



                        </div>





                    </div>









                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">تسجيل</button>
                    </div>




                }


            </div>
        </div>
    </div>


 






    </div>
