
@model SMCC.Models.StudentName

@{
    ViewBag.Title = "Register Course";
    Layout = "~/Views/MainLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Register Course</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/AdminDashBoard/Home">Home</a></li>
                    <li class="breadcrumb-item active">Register Course</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary" >
            <div class="card-header">
                <h3 class="card-title" style="float:right">تسجيل طالب لكورس</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("RegisterCourse", "Student",FormMethod.Post))
            {
        <div class="card-body" dir="rtl">

            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(model => model.FirstName, "الاسم الاول", new { @style = "float:right" })
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @style = "color:red" })
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(model => model.SecondName, "الاسم التانى", new { @style = "float:right" })
                        @Html.ValidationMessageFor(model => model.SecondName, null, new { @style = "color:red" })
                        @Html.TextBoxFor(model => model.SecondName, new { @class = "form-control" })
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(model => model.ThirdName, "الاسم الثالث", new { @style = "float:right" })
                        @Html.ValidationMessageFor(model => model.ThirdName, null, new { @style = "color:red" })
                        @Html.TextBoxFor(model => model.ThirdName, new { @class = "form-control" })
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(model => model.FourthName, "الاسم الرابع", new { @style = "float:right" })
                        @Html.ValidationMessageFor(model => model.FourthName, null, new { @style = "color:red" })
                        @Html.TextBoxFor(model => model.FourthName, new { @class = "form-control" })
                    </div>

                </div>
            </div>
            <br />
            <br />
            <!-- /.card-body -->

         

                <input type="submit" class="btn btn-primary" name="save" value="التالى">

   


        </div>

            }

        </div>

    </div>
</div>












